html, body, #map {
    height: 100%;
    width: 100%;
}
div.olMap {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;
}
#text {
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 512px;
    z-index: 20000;
    background-color: white;
    padding: 0 0.5em 0.5em 0.5em;
}