html, body, #map {
    height: 100%;
    width: 100%;
}
div.olMap {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;
}
#text {
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 512px;
    z-index: 20000;
    background-color: white;
    padding: 0 0.5em 0.5em 0.5em;
}

.floatleft {
  float: left;
}

#MapToolsContainer {
  left: 15px;
  position: fixed;
  top: 115px;
  z-index: 999;
  cursor: pointer;
}

#ButtonsContainer {
  border: 6px solid white;
  box-shadow: 0 3px 8px 0 rgba(50, 50, 50, 0.75);
  display: table;
}